<section class="feedback" style="background-image: url(images/allPages/feedbackBg.jpg);">
    <div class="container">
       <h3 class="feedback__title title">Остались вопросы?</h3>
       <div class="feedback__subtitle">Отправьте нам заявку, и мы Вам перезвоним!</div>
       <form action="post" class="feedback__form">
           <div class="feedback__row">
               <div class="feedback__input-name">Как к Вам обращаться?</div>
               <input type="text" class="feedback__input">
           </div>
           <div class="feedback__row">
               <div class="feedback__input-name">Телефон</div>
               <input type="text" class="feedback__input">
           </div>
           <div class="feedback__row">
               <button class="feedback__button button--red">Отправить</button>
           </div>
       </form>
       <div class="feedback__politic">Нажимая на кнопку, Вы принимаете условия Политики конфиденциальности</div> 
    </div>
</section>