<section class="promo" style="background-image: url(@@bgLink);">
    <div class="container">
        <div class="promo__info">
             <p class="promo__user-position"><a href="#" class="promo__page-link">Главная</a>  /  Бурение скважен в Магнитогорске</p>
        </div>
        <h1 class="promo__title title title--white">Бурение и обустройтво скважин</h1>
        <div class="promo__descr">Профессиональное бурение скважины на участке в любую погоду за 1 день. Круглый год. Гарантия 3 года.</div>
        <div class="promo__form-name">Ваш телефон</div>
        <form action="get" class="promo__form">
            <input type="text" class="promo__input" placeholder="+7 (800) 000-00-00">
            <button class="promo__submit button button--red">Рассчитать стоимость</button>
            <div class="promo__consent">Нажимая на кнопку, Вы принимаете условия Политики конфиденциальности</div>
        </form>
    </div>
</section>