.promo {
    width: 100%;
    min-height: 520px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 0 66px;
}
.promo__info {
}
.promo__user-position {
    font-size: 16px;
    line-height: 25px;
    color: #C8C8C8;
}
.promo__page-link {
    color: $secondColor;
}
.promo__title {
    margin-top: 144px;
}
.promo__descr {
    max-width: 830px;
    font-size: 24px;
    line-height: 32px;
    color: #E4E3E3;
    margin-top: 35px;
}
.promo__form-name{
   margin-top: 35px;
   font-size: 16px;
   line-height: 25px;
   color: #FFFFFF; 
}
.promo__form {
    margin-top: 15px;
}
.promo__input {
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding: 10px 15px;
    width: 350px;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FBFBFB;
    outline: transparent;
    &::placeholder{
        color: rgba(#ffffff, 0.6);
    }
}
.promo__submit {
    margin-left: 45px;
}

.promo__consent {
    margin-top: 35px;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}